.legend {
  box-shadow: 1.2rem 0 0.5rem -0.5rem rgba(160, 160, 160, 0.2);
  width: 11rem;
  color: #888;
  font-weight: 400;
  letter-spacing: 0.06rem;
  // border: 1px solid red;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.2rem solid rgba(212, 212, 212, 0.4);
    font-size: 1.5rem;
    text-align: center;

    &--day {
      height: $day-height;
    }

    &--hour {
      height: $hour-height;
    }

    &--forecast {
      height: $forecast-height;
    }

    &--temperature {
      height: $temperature-height;
    }

    &--precipitation {
      height: $precipitation-height;
    }

    &--wind_dir {
      height: $wind-dir-height;
    }

    &--wind_speed {
      height: $wind-speed-height;
    }

    &--pressure {
      height: $pressure-height;
    }
  }
  &__item:last-of-type {
    border-bottom: none;
  }
}
