.legend {
  box-shadow: $box-shadow-legend;
  width: 30rem;
  color: $font-color-legend;
  font-weight: 400;
  letter-spacing: 0.06rem;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $border-grey;
    font-size: 1.6rem;
    text-align: center;

    &--day {
      height: $day-height;
    }

    &--hour {
      height: $hour-height;
    }

    &--forecast {
      height: $forecast-height;
    }

    &--temperature {
      height: $temperature-height;
    }

    &--precipitation {
      height: $precipitation-height;
    }

    &--wind_dir {
      height: $wind-dir-height;
    }

    &--wind_speed {
      height: $wind-speed-height;
    }

    &--pressure {
      height: $pressure-height;
    }
  }
  &__item:last-of-type {
    border-bottom: none;
  }
}
