.weather_column {
  flex-shrink: 0;
  flex-basis: 10rem;

  &__border_wrapper {
    border-right: $border-grey;
  }
  &__day {
    height: $day-height;
    font-size: 1.8rem;
    padding: 0.5rem 0 0 1rem;
    color: $font-color-day;
  }
  &__hour {
    height: $hour-height;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    line-height: $hour-height;
  }

  &__forecast {
    height: $forecast-height;

    &_image {
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }

  &__temperature {
    position: relative;
    height: $temperature-height;
    text-align: center;

    &_content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;

      &_value {
        font-size: 2.6rem;
        font-weight: 400;
      }

      span {
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        border: 0.1rem solid $color-black;
        background-color: $color-white;
        border-radius: 50%;
        margin: 0.3rem auto 0;
      }
    }
  }

  &__precipitation {
    height: $precipitation-height;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    &_description {
      order: 1;
      font-size: 1.8rem;
    }
    &_bar {
      width: 100%;
      background-color: $background-precipitation-bar;
    }
  }

  &__wind_dir {
    position: relative;
    height: $wind-dir-height;
    width: 100%;
    background-color: $background-wind;

    &_image {
      display: block;
      height: 70%;
      margin: 0 auto;
    }

    &_description {
      font-size: 1.6rem;
      text-align: center;
    }
  }

  &__wind_dir::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;
    width: 2px;
    height: $wind-dir-height + $wind-speed-height;
    background-color: $color-white;
  }

  &__wind_speed {
    height: $wind-speed-height;
    padding: 2rem 0;
    text-align: center;
    background-color: $background-wind;

    &_description {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    &_value {
      font-size: 1.8rem;
    }
  }

  &__pressure {
    position: relative;
    height: $pressure-height;
    text-align: center;

    &_content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      z-index: 2;
    }
    &_value {
      font-size: 1.8rem;
      font-weight: 400;
    }

    span {
      display: block;
      width: 1.4rem;
      height: 1.4rem;
      border: 0.1rem solid $color-black;
      background-color: $color-white;
      border-radius: 50%;
      margin: 0.3rem auto 0;
    }
  }
}
