$day-height: 30px;
$hour-height: 50px;
$forecast-height: 50px;
$temperature-height: 170px;
$precipitation-height: 90px;
$wind-dir-height: 90px;
$wind-speed-height: 80px;
$pressure-height: 150px;

$border-grey: 0.2rem solid rgba(212, 212, 212, 0.4);
$box-shadow-legend: 1.2rem 0 0.5rem -0.5rem rgba(160, 160, 160, 0.2);

$font-color-legend: #888;
$font-color-day: #d4d4d4;

$background-wind: #edefed;
$background-precipitation-bar: #3fd7f8;
$background-button-grey: #858585;

$color-white: #fff;
$color-black: #000;
